:root{
    --background: #FFF;
    --primary: #002a4e;
    --secondary: #eeeeee;
    --accent: #b94642;
    --card: #FFF;
    --border: #dedede;
    --text: white;
}

body{
    scroll-behavior: smooth;
}

.card img, .carousel-slide img{
    width: 100%; aspect-ratio: 16/9; object-fit: cover;
}

@media (min-width: 1024px) {
    #menu{
        transform: none;     
        width: auto;
    }
    #menu li{
        border: none;
    }
    #menu ul{
        display: flex;
        justify-content: space-evenly;
        padding: 7px;
    }
}


@media (max-width: 1024px) {
    #menu{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: none;
}

#menu.open {
    transform: translateX(0);
    display: block;
}

#menu li{
    border-bottom: #FFF 1px solid;
    margin-bottom: 10px;
    padding: 5px;
}

#menu li:last-child{
    border: none;
}

#menu ul{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    z-index: 1000;
    height: 100vh;
    min-width: 200px;
    width: 250px;
    padding: 7px;
    color: white;
    position: fixed;
    right: 0;    
    top: 0;
}
}

.card-text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-left, .nav-right{
    border: none;
    background-color: rgba(0, 42, 78, 0.8);
    color: #FFF;
    border-radius: 50%;
    padding: 5px;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    z-index: 20;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.nav-left:hover , .nav-right:hover{
    background-color: rgba(0, 42, 78, 1);
    transform: translateY(-50%) scale(1.1);
}